<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Base{% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <style>
            .navbar-nav{
                float: right!important;
            }
        </style>
        {% block custom_css %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block menu %}
                <nav class="navbar navbar-inverse" style="margin-top:10px">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{{ path('app_admin_home') }}">Home</a>
                            </li>
                            <li>
                                <a href="{{ path('app_task_index') }}">Tasks</a>
                            </li>
                            <li>
                                <a href="{{ path('app_admin_logout') }}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% endblock %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
