{% extends 'backend/layout/base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1>Edit Task</h1>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.status) }}
    {{ form_row(form.submit, {
        label: 'Update'
    }) }}
    {{ form_end(form) }}
{% endblock %}
